*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
background:rgba(0, 0, 0, 0.5) url('car.jpg')center center fixed ;
background-blend-mode: darken;
background-size: cover;
background-position: center;
}
.main{
    padding: 0.8%;
}

nav{
    padding: 0px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    padding:0px;
    width: 150px;
    font-size: 50px;
    cursor: pointer;
    color: yellow;
    display: inline-block;
}
/* .logo h6{
    display:inline-block;
    margin-left:230px;
    margin
 }  */

.nav-link{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
}

.nav-links a{
    margin: 30px;
    margin-right: 100px;
    font-size: 30px;
    text-decoration: none;
    color:#fff;
    transition: 1s;
}

.nav-links a:hover{
    padding: 10px;
    background-color: #000;
}
/* #one{
    font-size: 30px;
}
#two{
    font-size: 1em;
} */

.nav-links .btn{
    background: yellow;
    color: #000; 
    padding: 10px 28px;
    border-radius: 5px;
}

.content{
    margin-top: 200px ;
    margin-left: 150px;
    color: #fff;
}

.content h1{
    font-size: 60px;
}

.search{
    background: #fff;
    width: fit-content;
    margin: 20px 0;
    padding: 20px 20px;
    display: flex;
    align-items: center;

}

.search input{
    background: transparent;
    width: 500px;
    border: 0;
    outline: none;

}

button{
    padding: 10px 28px;
    margin-left: 18%;
    background-color: yellow;
    cursor: pointer;
}