:root{

/* ## Colors */
/* 
``` css */
--international-orange-engineering: hsl(1, 91%, 37%);
--cadet-blue-creyola: hsl(222, 14%, 69%);
--oxford-blue-1: hsl(222, 47%, 15%);
--oxford-blue-2: hsl(222, 44%, 14%);
--oxford-blue-3: hsl(222, 50%, 11%);
--sonic-silver: hsl(0, 0%, 44%);
--space-cadet: hsl(222, 44%, 18%);
--pastel-pink: hsl(1, 53%, 75%);
--eerie-black: hsl(0, 0%, 15%);
--light-gray: hsl(0, 0%, 80%);
--white: hsl(0, 0%, 100%);


/* ## Typography

``` css */
--ff-chakra-petch: 'Chakra Petch', sans-serif;
--ff-mulish: 'Mulish', sans-serif;

--fs-1: 3.5rem;
--fs-2: 3rem;
--fs-3: 2.4rem;
--fs-4: 1.8rem;
--fs-5: 1.4rem;
--fs-6: 1.2rem;

--fw-400: 400;
--fw-600: 600;
--fw-700: 700;

/* ## Spacing

``` css */
--section-padding: 60px;


/* ## Shadow */

/* ``` css */
--shadow: 0px 0px 100px 0px hsl(216, 9%, 90%);/* ## Border Radius

``` css */
--radius-pill: 100px;
--radius-circle: 50%;


/* ## Transition

``` css */
--transition: 0.25s ease;
--cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);
}


*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{list-style: none; }

a,
img,
span,
button { display: block; }

a{
    color: inherit;
    text-decoration: none;
}

img{ height: auto; }

button{
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
}

address{ font-style: normal;}

html{
    font-family: var(--ff-mulish);
    font-size: 10px;
    scroll-behavior: smooth;
}

body{
     background-color: var(--white);
    color: var(--sonic-silver);
    font-size: 1.6rem;
    line-height: 1.5;
    
}

:focus-visible { outline-offset: 4px;}
::-webhit-scrollbar { width: 10px; }
::-webhit-scrollbar-track { background-color: hsl(0,0%,98%);}
::-webhit-scrollbar-thumb{ background-color: hsl(0,0%,80%);}
::-webhit-scrollbar-thumb{ background-color: hsl(0, 0%, 80%);}
::-webhit-scrollbar-thumb:hover { background-color: hsl(0,0%,70%);} 


.container{
  width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding-inline: 100px;
  padding-inline: 100px; }

.material-symbols-rounded{
    --fx: len;
    font-variation-settings: 'FILL' 0, 'wght' 600, 'GRAD' 0, 'opsz' 40;
  font-size: var(--fs);
  width: 1em;
  overflow: hidden;

}

.has-bg-image{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}
.h1,
.h2,
.h3,
.display-1 {
  font-family: var(--ff-chakra-petch);
  font-weight: var(--fw-700);
  text-transform: uppercase;
  
  
}













 /*-----------------------------------*\
  #SERVICE
\*-----------------------------------*/

.service-banner { display: none; }

.service { text-align: center; }

.service-list {
  gap: 0;
  margin-block-end: 40px;
}

.service-card .card-icon {
  max-width: max-content;
  margin-inline: auto;
  margin-block-end: 24px;
}

.service-card .card-text {
  line-height: 1.2;
  margin-block: 8px;
}

.service .btn { margin-inline: auto; }

